.container {
  max-width: 240px;
  height: 380px;
  padding: 33px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.509);
  margin: 2rem 2rem 0 0;
  color: rgb(46, 46, 46);
  font-size: 15px;
  border-radius: 2.2px;
}

.type {
  display: inline-block;

  h1 {
    margin: 1.5rem 3rem 0 0;
  }
}

.containerImg {
  height: 163px;
  width: 100%;
  margin: 0;
}


.PriceWrapper {
  display: inline-block;
}

.button {
  font-size: 25px;
  margin: 1rem 0;
  transition: .3s;
  cursor: pointer;
  display: block;
  height: 4vh;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 2.2px;
  color: rgb(46, 46, 46);
  font-weight: 700;
  border: 1px solid white;
}

.button:hover {
  background-color: #D5D4D1;
  color: rgb(61, 142, 169);
}